@model asp_vet.Models.ModelAtendimento


@{
    ViewBag.Title = "cadAtendimento";
}

<h2>Cadastro de Atendimento</h2>



@using (Html.BeginForm("Agenda"))
{
    <label>Agenda</label>
    <br />
    <div class="editor-label">
        @Html.LabelFor(m => m.dataAtendimento)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.dataAtendimento, new { htmlAttributes = new { @type = "date" } })
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.horaAtendimento)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.horaAtendimento, new { htmlAttributes = new { @type = "time" } })
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Diag)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Diag)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.codAnimal)
    </div>

    <div class="editor-field">

        @Html.DropDownList("animal", "Escolha o animal")

    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.codVet)
    </div>
    <div class="editor-field">

        @Html.DropDownList("vet", "Escolha o veterinário")

    </div>
    

    <br />
    <input type="submit" value="Cadastrar" />
}
<br />
<br />

@ViewBag.msg

